@model List<ShopOnline.Models.MenuGroupView>
<div class="menu-nav">
    <span class="menu-header">Menu <i class="fa fa-bars"></i></span>
    <ul class="menu-list">
        @foreach (var item in Model)
        {
            if (item.Name == "Sản Phẩm")
            {
                <li class="dropdown default-dropdown">
                    <a href="/Products/GetProducts" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" >@item.Name <i class="fa fa-caret-down"></i></a>
                    <ul class="custom-menu">
                        @foreach (var name in ViewBag.Products)
                        {
                            <li><a href="/Products/ProductDetail/@name.ID">@name.Name</a></li>
                        }
                    </ul>
                </li>
            }
            else
            {
                <li><a href="/Home/Index" id=@item.Name>@item.Name</a></li>
            }
        }

    </ul>
</div>
