
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="content-wrapper">
        <div class="container-fluid">
            
                Trang chủ
            
        </div>
 </div>

